/* .pie-chart{
    width: 496px;
    height: 251px;
    margin: 18px 39px 39px;
    padding: 5px 140.9px 33px 13.5px;
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.04);
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: rgb(162, 67, 162); 
} */