  .home-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80vw;
    display: flex;
}

.squre{
    display: flex;
    width: 100%;
}

.box {
    height: 10rem;
    width: 15rem;
    margin: 1rem;
}

.box-icon {
    position: absolute;
    height: 5rem;
    width:5rem;
    margin-top: -3rem;
    margin-left: 1rem;
    border-radius: 50%;
}
.box:hover > .box-icon {
    transform: scale(1.1);
}

.box-data, .box-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.box-data {
    flex-direction: column;
    height: 10rem;
    width: 100%;
    margin-top: 5rem;
    background-color: #fff;
    border-radius: 10px;
}

.box-data > span {
    color: #3a8cbd;
}

.box-data > h1 {
    color:  #042444;
}

.box-icon {
    font-size: 2rem;
    color: #fff;
}

.box:nth-child(1)> .box-icon {
    background-color:  #04d4bc;
}

.box:nth-child(2)> .box-icon {
    background-color:  #a424f4;
}

.box:nth-child(3)> .box-icon {
    background-color:  #1daf19;
}

.box:nth-child(4)> .box-icon {
    background-color:  #ec0404;
}

.home-container-2 {
    display: flex;
    gap: 1rem;
}

.card {
    height: 26rem;
    width: 80vw;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.cardLine{
    height: 26rem;
    width: 20vw;
    margin-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

@media screen and (max-width : 1024px ) {
    .home-container-2 {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 80vw;
    }
  }
  
  
  @media screen and (max-width : 600px ) {
    .box {
        width: 12rem;
    }
  }



.Squre {
      width: 100%;
      display: flex;
      flex-direction: row;
  }

.section2{
   align-items: center; 
}

  .Graph {
      width: 100%;
  }
  .col-5 .chart canvas{
    height: 45vh !important;
  }
  .VarticalBarChart{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  .Vartical{
    width: 100%;
  }
  .TwoCircle{
    display: flex;
    flex-direction: row;
    align-items:flex-end;
    width: 100%;
    justify-content: space-between;
  }

  .TwoCircle .col .chart canvas{
    height: 24vh !important;
  }

  .section3{
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
